@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'JetBrains Mono', monospace;
  }

  @font-face {
    font-family: 'FontCustom_Medium';
    src: url('/fonts/Saira-Medium.ttf');
  }
  
  @font-face {
    font-family: 'FontCustom_Regular';
    src: url('fonts/Saira-Regular.ttf');
  }
  
  @font-face {
    font-family: 'FontCustom_SemiBold';
    src: url('fonts/Saira-SemiBold.ttf');
  }
  
  @font-face {
    font-family: 'FontCustom_Black';
    src: url('fonts/Saira-Black.ttf');
  }
  
  @font-face {
    font-family: 'FontCustom_Bold';
    src: url('fonts/Saira-Bold.ttf');
  }

  .animate-transition{
    @apply transition-all duration-500 ease-in-out;
  }

  
  